MONGODB_URI=mongodb://username:password@127.0.0.1:6000/yourdb?authSource=admin
REMOTE_CHROME_URL=ws://127.0.0.1:9000
RENDER_TYPE=1
RENDER_URL=https://render.yourproject.workers.dev/
REVIEW_TAG_URL=https://open.bigmodel.cn/api/paas/v4/chat/completions
REVIEW_TAG_KEY=sk-123456
REVIEW_TAG_MODEL=glm-4.6v-flash
CACHER_URL=https://cacher.yourproject.workers.dev/cache/
AUTH_SECRET=Th3RafCC/pE+P6Rm1cJoJoMEqqD5OPGXe22+Mw+KgT0=
